body{
    background-color:#e2e8ff;
    font-family: Arial;
    padding:30px 100px 20px 100px;
    border-left: 200px solid gray;
    border-right: 200px solid gray;
    margin: 0px 0px 0px 0px;
}

span{
    color:purple;
}

h1{
    color:#000066;
}

p{
    font-family: Georgia;
    font-style: italic;
    color:#4d4d4d;
}

#left{
    margin-left:20px;
    height:93px;
    width:100px;
    text-align:right;
    padding-right:20px;
    font-style:italic;
    font-weight:bold;
    float:left;
    border-right:1.5px solid #BFBFBF;
    margin-top:10px;
    
}

#right{
    padding-left:20px;
    margin-top:-10px;
      
}

.top{
    display:inline-block;
}

.middle{
    display:inline-block;
}

.bottom{
    display:inline-block;
}
